p {
  text-align: center;
  width: 20%;
  color: #369;
  background-color: red;
  center;
  margin-left: auto;
  margin-right: auto;
  Noto Sans, sans-serif
}

div {
color: #fff;
}

img {
  width: 100%;
  }